/Makefile
/Makefile.in
.dirstamp
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.h-new
config.log
config.rpath
config.status*
config.sub
configure
daaladec-uninstalled.pc
daaladec.pc
daalaenc-uninstalled.pc
daalaenc.pc
libtool
ltconfig
ltmain.sh
missing
stamp-h
stamp-h.in
stamp.h
autom4te.cache
autom4te-2.53.cache
stamp-h1
autoregen.sh
compile
depcomp
install-sh
mkinstalldirs
registry.*
coverage-report.txt
.deps
.libs
*~
*.gir
*.typelib
Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store
*.o
*.lo
*.la
*.a
*.d
*.y4m
*.png
*.ogg
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
package_version
examples/dump_video
examples/encoder_example
examples/player_example
src/tests/check_tests
src/tests/ectest
src/tests/logging_test
src/tests/test_coef_coder
src/tests/test_divu_small
src/tests/test_filters
tools/block_size_analysis
tools/dump_psnrhvs
tools/gen_cdf
tools/gen_laplace_tables
tools/init_intra_maps
tools/init_intra_xform
tools/intra_pred
tools/intra_stats
tools/intra_trace
tools/out
tools/plot_intra_maps
tools/png2y4m
tools/trans
tools/trans2d
tools/y4m2png
tools/bjontegaard
tools/divu_const
tools/dump_fastssim
tools/dump_ssim
tools/trans_gain
tools/dump_psnr
tools/jpegyuv
tools/yuv2yuv4mpeg
tools/yuvjpeg
test-driver
doc/Doxyfile
doc/doxygen-build.stamp
doc/4-8sub.pdf
doc/blockidx.pdftex
doc/blockidx.pdftex_t
doc/mc.aux
doc/mc.bbl
doc/mc.blg
doc/mc.log
doc/mc.out
doc/mc.pdf
doc/mvpred.pdf
doc/vbunsplit.pdftex
doc/vbunsplit.pdftex_t
doc/html
doc/latex
doc/man
daala-*/
*.tar.gz
out/
